# JetBrains
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
venv/
*.egg-info/
build/
dist/

# Unit test / coverage reports
.tox/
.pytest_cache/
.coverage
htmlcov/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# Django databases
db.sqlite3

# Project files
demo/client_side/node_modules/