{% load dependency_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Demo project for django-client-side">
    <meta name="author" content="powderflask @ Driftwood Cove Designs">


    <title>
        Django Client-side demo
    </title>
    {% block css %}
      {% stylesheet 'core' %}
    {% endblock %}

  </head>

  <body>

      <noscript>
          <div class="alert alert-warning">
            Please enable Javascript - sophisticated web applications required JS to work effectively.
          </div>
      </noscript>

      {% block navbar %}
        {% include 'include/navbar.html' %}
      {% endblock navbar %}

      {% block content %}{% endblock content %}

      {% block footer %}
        <hr>
        {% include 'include/footer.html' %}
      {% endblock footer %}

    {% block scripts %}
      {% javascript 'core' %}
      {% javascript 'shims' %}
    {% endblock scripts %}

  </body>
</html>